---
const {} = Astro.props;
---
<div class="max-w-7xl w-full mx-auto my-32">
  <div class="relative">
    <div class="sm:text-center lg:text-left">
      <h1 class="bg-[url('/herobg.svg')] my-16 bg-no-repeat bg-center bg-[length:75%] tracking-wider text-center font-bold text-gray-900 lg:text-5xl sm:text-4xl text-3xl">
        <span class="block">
          Build Apps, Do Research,
        </span>
        <span class="whitespace-pre-line">
          Grow Together
        </span>
      </h1>
      <div class="w-fit mx-auto">
        <a class="mx-2 px-2 py-2 rounded-lg text-sm hover:shadow-xl border-2 border-gray-300 lg:text-xl md:text-lg sm:text-md" href="https://github.com/ceoldevs"><i class="bi bi-github"></i> View Github</a>
        <a class="mx-2 px-2 py-2 rounded-lg text-sm hover:shadow-xl lg:text-xl md:text-lg sm:text-md" href="#">Follow Blog</a>
      </div>
    </div>
  </div>
</div>