---
const {} = Astro.props;
---
<div class="max-w-7xl w-full mx-auto">
  <div class="relative">
    <div class="sm:text-center lg:text-left">
      <h1 class="bg-[url('/herobg.svg')] my-32 bg-no-repeat bg-center bg-contain text-7xl tracking-wider text-center font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
        <span class="block">
          Build Apps, Do Research,
        </span>
        <span class="whitespace-pre-line">
          Grow Together
        </span>
      </h1>
      <div class="w-fit mx-auto">
        <a class="mx-4 px-4 py-3 rounded-lg text-3xl hover:shadow-xl border-2 border-gray-300" href="https://github.com/ceoldevs"><i class="bi bi-github"></i> View Github</a>
        <a class="mx-4 px-4 py-3 rounded-lg text-3xl hover:shadow-xl" href="#">Follow Blog</a>
      </div>
    </div>
  </div>
</div>