---
const {title} = Astro.props;
---
<nav class="bg-white sticky top-0 z-10 bg-opacity-10 backdrop-blur w-screen">
    <div class="flex flex-wrap mx-auto max-w-7xl w-full justify-evenly items-center text-center">
        <a href={(Astro.request.url.pathname=="/"||Astro.request.url.pathname=="/home")?"#":"/"} class={(Astro.request.url.pathname=="/"||Astro.request.url.pathname=="/home")?"pointer-events-none":""}>
            <img class="mx-2 w-16 h-16" src="/icon.svg" alt="logo">
        </a>
        <div class="collapse navbar-collapse flex-grow items-center" id="navbarSupportedContent">
            <div class="flex-1 flex-wrap justify-evenly w-full">
                <a class={(Astro.request.url.pathname=="/"||Astro.request.url.pathname=="/home")?"pointer-events-none bg-gradient-to-r from-pink-300 to-purple-300 shadow-xl mx-2 px-2 py-2 text-white rounded-lg text-lg active font-bold":"mx-2 px-2 py-2 rounded-lg text-lg hover:shadow-xl"} href={(Astro.request.url.pathname=="/"||Astro.request.url.pathname=="/home")?"#":"/"}>Home</a>
                <a class={(Astro.request.url.pathname=="/blogs")?"pointer-events-none bg-gradient-to-r from-pink-300 to-purple-300 shadow-xl mx-2 px-2 py-2 text-white rounded-lg text-lg active font-bold":"mx-2 px-2 py-2 rounded-lg text-lg hover:shadow-xl"} href={(Astro.request.url.pathname=="/blogs")?"#":"/blogs"}>Blogs</a>
                <a class={(Astro.request.url.pathname=="/projects")?"pointer-events-none bg-gradient-to-r from-pink-300 to-purple-300 shadow-xl mx-2 px-2 py-2 text-white rounded-lg text-lg active font-bold":"mx-2 px-2 py-2 rounded-lg text-lg hover:shadow-xl"} href={(Astro.request.url.pathname=="/projects")?"#":"/projects"}>Projects</a>
            </div>
        </div>
        <div>
            <a class="px-2 py-1 mx-2 rounded-lg w-10 h-10 bi bi-github text-3xl hover:shadow-xl border-2 border-gray-300" href="https://github.com/ceoldevs"></a>
        </div>
    </div>
</nav>